body{
    background-color: #F8F8F8;
    height: 874px;
    width: 402px;
    margin: 0px;
    display: flex;
    justify-content: center;
}



.header{
    background-color: rgb(255, 255, 255);
    width: 402px;
    height: 183px;
    box-shadow:2px 2px 4px rgb(226, 226, 226)
}

.tasks{
    width: 386px;
    height: 178px;
    border-radius: 10px;
    background-color: white;
    margin-top: 12px;
    padding-left: 8px;
    box-shadow:2px 2px 4px rgb(226, 226, 226),-2px -2px 4px rgb(226, 226, 226),-2px 2px 4px rgb(226, 226, 226),2px -2px 4px rgb(226, 226, 226);

    
}